<div class="container-fluid">
    <div class="jumbotron">
        <div>
            <h2>Vitruvius</h2>
            <p class="lead">Vitruvius is a prototype register of Government platforms, services, components
                and registers</p>
        </div>
    </div>
    <div>
        <h1>Platform</h1>
        <p>We define a platform as a unit of government behaviour common to and consumed by multiple services.
            It is run independently from a service and will have a service manager who coordinates it's stakeholders in terms of when
            and what functional changes can be made.
        </p>
        See <a href="#/platforms"><strong>here</strong></a> for a list of platforms

    </div>
    <div>
        <h1>Service</h1>
        <p>We define a service as a unit of government behaviour important enough to have a service manager
            permanently
            and
            probably uniquely assigned to it. In a sense it is a ‘business’ Service - it encompasses people, process
            and
            technology - but following the ‘digital by default’ policy.
        </p>
        See <a href="#/services"><strong>here</strong></a> for a list of services

    </div>
    <hr/>
    <div>
        <h1>Component</h1>
        <p>A component is a piece of useful code, content, data or tooling that can be deployed in many services.
            There may be many implementations of the same component, in many languages.
            Components encourage reuse of assets across government projects.
            Components should be versioned to allow ease of use by other services.
            Component owners and users should be aware of changes to the components and the impact of change.</p>
        See <a href="#/components"><strong>here</strong></a> for a list of components
    </div>
    <hr/>
    <div>
        <h1>Register</h1>
        <p>Registers allow access to a data store via an API.
            Registers may not allow direct access to the data but rather an appropriate subset of data held to a service.
            Requests for data should always be recorded along with responses.
            To use a register you will need to be approved and issued with appropriate authentication.</p>
        See <a href="#/registers"><strong>here</strong></a> for a list of registers

    </div>

</div>
